body {
    font-family: 'Comic Neue', cursive;
    margin: 0;
    padding: 0;
    color: rgba(5, 5, 5, 0.5);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.wrapper{
    width: 100%;
    margin:0 auto;
}

.main{
    display: 100%;
    background-color: azure;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p{
    margin-bottom: 40px;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module.content{
    padding: 40px 0;
    background-color: rgb(139, 131, 121);
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.module.parallax-1{
    background-image: url("../img/_Escola\ Munic.jpg");

}

section.module.parallax h1{
    color: aliceblue;
    text-align: center;
    font-size: 80px;
}

.area-1{
    visibility: hidden;
}